OPENAI_API_KEY=<YOUR-KEY>
OPENAI_GPT_MODEL=gpt-4o-mini
OPENAI_ACTIVITY_TEMPERATURE=1.2
OPENAI_PROMPT_TEMPERATURE=1.0
OPENAI_DALLE_MODEL=dall-e-2
OPENAI_DALLE_N=2
TELEGRAM_BOT_TOKEN=<YOUR-TOKEN>
TELEGRAM_ALLOWED_USERS=["@xyz", "..."]
TELEGRAM_REMINDER_CHAT_ID=11111111